/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Arial, sans-serif;
    line-height:1.8;
    background:#f5f7fa;
    color:#222;
}

/* NAVBAR */
header{
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    background:#0f4c81;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
}

.logo{
    font-size:1.1rem;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:20px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:500;
}

.nav-links a:hover{
    opacity:0.8;
}

/* HERO */
.hero{
    background:white;
    min-height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:60px 20px;
}

.hero-content{
    max-width:850px;
}

.hero h1{
    font-size:3rem;
    color:#0f4c81;
    margin-bottom:20px;
}

.hero h2{
    font-size:1.5rem;
    margin-bottom:20px;
    color:#444;
}

.hero p{
    font-size:1.1rem;
    margin-bottom:30px;
}

.btn{
    background:#0f4c81;
    color:white;
    text-decoration:none;
    padding:14px 28px;
    border-radius:8px;
    display:inline-block;
}

.btn:hover{
    opacity:0.9;
}

/* SECTIONS */
.section{
    padding:80px 10%;
}

.section h2{
    text-align:center;
    margin-bottom:40px;
    color:#0f4c81;
    font-size:2rem;
}

.card{
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.card ul{
    margin-top:15px;
    margin-left:20px;
}

.card li{
    margin-bottom:10px;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

/* GALLERY */
.gallery{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery-item{
    width:100%;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
}

.gallery-item:hover{
    transform:scale(1.02);
}

/* MODAL */
.modal{
    display:none;
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.85);
    justify-content:center;
    align-items:center;
}

.modal img{
    max-width:90%;
    max-height:85%;
    border-radius:12px;
}

#close{
    position:absolute;
    top:25px;
    right:35px;
    color:white;
    font-size:45px;
    cursor:pointer;
}

/* FOOTER */
footer{
    background:#0f4c81;
    color:white;
    text-align:center;
    padding:25px;
}

/* RESPONSIVE */
@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:2.2rem;
    }

    .hero h2{
        font-size:1.2rem;
    }

    .section{
        padding:60px 7%;
    }
}